/* ! basic */

@font-face {
  font-family: nixie;
  src: url("../font/NixieOne-Regular.ttf");
}
@font-face {
  font-family: alegreyaSC;
  src: url("../font/AlegreyaSC-Regular.ttf");
}

@font-face {
  font-family: alegreyaSans;
  src: url("../font/AlegreyaSans-Regular.ttf");
}

@font-face {
  font-family: alegreyaSansItalic;
  src: url("../font/AlegreyaSans-Italic.ttf");
}

@font-face {
  font-family: teX;
  src: url("../font/texgyreheros-regular.otf");
}

@font-face {
  font-family: teXBold;
  src: url("../font/texgyreheroscn-bold.otf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

img {
  max-width: 100%;
}

/* ! Header */

header {
  background-image: url("../img/header.png");
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
  display: grid;
  grid-template-rows: min-content auto;
  font-family: alegreyaSC, Arial, Helvetica, sans-serif;
  background-attachment: fixed;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 30px 0 30px;
}

nav h2 {
  font-size: 3.2rem;
}

.burger div {
  background-color: white;
  height: 4px;
  width: 20px;
  margin: 3px;
  border-radius: 20px;
}

header article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

h1 {
  font-family: nixie;
  font-size: 5.6rem;
}

header p {
  font-size: 2.2rem;
  color: rgba(255, 255, 255, 0.5);
}

/* ! main */
/* - Our Latest Works */

.works_blog {
  padding: 60px 140px 0 140px;
  font-family: teX, Arial, Helvetica, sans-serif;
  color: rgba(58, 79, 82, 1);
  margin-bottom: 80px;
}

.works_blog > article {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 60px;
}

.works_blog h3 {
  font-family: alegreyaSans;
  font-size: 3.6rem;
}

.works_blog p {
  font-size: 1.4rem;
  color: rgba(106, 106, 106, 1);
}

.viewBtn {
  align-self: flex-start;
  border: 1px solid rgba(58, 79, 82, 1);
  text-decoration: none;
  color: rgba(58, 79, 82, 1);
  padding: 12px 17px;
  font-size: 1.8rem;
}

.imgs_grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 30px;
  /* margin-bottom: 80px; */
}

.imgs_grid img {
  object-fit: cover;
  height: 30vh;
  width: 100%;
  object-position: center;
}

/* - Our Services */

.our_services_section {
  background-image: url("../img/our_services_chair.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  background-attachment: fixed;
  text-align: center;

  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 85%;
  margin: 80px 130px;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.2);
  display: grid;
  gap: 20px;
  grid-template-rows: 1fr 3fr;
  justify-content: center;
  text-align: center;
  justify-items: center;
}

.container section {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.container h3 {
  font-family: alegreyaSans;
  font-size: 3.6rem;
}

.our_services_section p {
  font-family: teX;
  font-size: 1.4rem;
}

.container h4 {
  font-family: alegreyaSans;
  font-size: 3rem;
}

.services {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  gap: 50px;
}

.services article {
  display: grid;
  justify-items: center;
  gap: 20px;
}

/* - from the Blog */

.blogs {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.blogs img {
  width: 100%;
}

.blogs h4 {
  font-family: alegreyaSans;
  font-size: 3rem;
}

.blogs span {
  font-family: alegreyaSansItalic;
}

.blogs article {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.blogs a {
  text-decoration: none;
  color: rgba(77, 167, 202, 1);
}

/* - get a free quote section */

.free_quote {
  background-image: url(../img/testimonials_lampe.png);
}

.free_quote .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn {
  font-family: teX;
  border: 1px solid white;
  text-decoration: none;
  color: white;
  padding: 12px 17px;
  font-size: 1.8rem;
}

/* - testimonials */

.testimonials > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 60px;
}

.testimonials section div {
  height: 150px;
  width: 150px;
  overflow: hidden;
}

.testimonials img {
  border-radius: 50%;
  object-position: center;
  object-fit: cover;
  height: 100%;
}

.testimonials {
  text-align: center;
}

.testimonials span {
  font-family: teXBold, Arial, Helvetica, sans-serif;
}

/* - contact us */

.contactUs {
  background-image: url("../img/bedroom.png");
}

input,
textarea {
  background-color: transparent;
  color: white;
  padding: 15px;
  border: 1px solid rgba(255, 255, 255, 0.75);
  border-radius: 5px;
  width: 40vw;
  resize: none;
}

textarea {
    height: 15vh;
}

input::placeholder,
textarea::placeholder {
  color: white;
  font-family: teX;

}

input:focus-visible,
textarea:focus-visible {
    outline: none;
}

textarea {
  background-color: transparent;
}

.form {
display: grid;
gap: 10px;
}

/* - footer */

footer {
    background-color: rgba(43, 62, 81, 1);
    font-size: 1.4rem;
    color: white;
    height: 20vh;
    padding-left: 150px;
    display: flex;
    align-items: center;
}
